@import 'tailwindcss';
*{
    box-sizing: border-box;
}


@layer base{
    h2,h3,h4{
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    h1{
        font-size: xx-large;
    }

    h2{
        font-size: x-large;
    }

    h3{
        font-size: larger;
    }

    h4{
        font-size: large;
    }
    p{
        margin-bottom: 1rem;
    }
}